.navbar-head {
    background-color: #04617d;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo {
    cursor: pointer;
}

.navbar-logo-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.navbar-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-item {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease;
}

.navbar-item:hover {
    color: #ddd;
}
